/*-- scss:uses --*/
// Change the font size for main titles
.reveal h1 {
  font-size: 30px; // You can adjust the size as needed
}

// Change the font size for subtitles
.reveal h2 {
  font-size: 28px; // Adjust this value based on your preference
}

// Change the font size for regular slide text
.reveal p {
  font-size: 25px; // This affects normal paragraph text
}
